<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/a17t.css">
  <link rel="stylesheet" href="/assets/tailwind.css">
</head>

<body class="max-w-full overflow-x-hidden bg-neutral-50">

  <section class="w-24 px-6 py-4 mx-auto">
    <h3>Sign In</h3>
    <p>ana are mere si prune zuza</p>
  </section>

</html>
