<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/grayshift.css">
</head>

<body>
  <div class="d-flex align-items-center min-vh-100 py-6 mx-auto">
    <section class="container" style="max-width: 400px;">
      <div class="card mb-5">
        <h1 class="mb-3 fs-3">Sign In</h1>
        <p class="mb-5 fs-2">In order to chat you must be signed in.</p>
        <p class="mb-3 text-secondary">Select the service you would like to sign in with.</p>
        <a class="btn btn-primary w-100 mb-3" role="button" href="/auth/login/facebook">Facebook</a>
        <a class="btn btn-primary w-100 mb-3" role="button" href="/auth/login/github">Github</a>
        <a class="btn btn-primary w-100 mb-3" role="button" href="/auth/login/google">Google</a>
      </div>
    </section>
  </div>

</html>
